.parent {
  position: relative;
  width: 35rem;
  margin-left: 4rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 5rem);

}

.child {
  width: 5rem;
  height: 5rem;
  background-color: darkcyan;
}

.child:nth-child(1) {
  animation: move 10s linear infinite;
  border-radius: 50%;
}

.child-n {
  position: absolute;
  top: -20%;
  right: 28.5%;
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 100px solid purple;
}

.sub-parent {
  position: relative;
}

@keyframes move {
  0% {
    position: absolute;
    top: -5%;

  }

  50% {
    position: absolute;
    right: -10%;
  }

  100% {
    position: absolute;
    right: -20%;
  }
}